{
    "presets": [
        "env",
        "stage-0"
    ],
    "plugins": [
        [
            "transform-runtime",
            {
                "helpers": false,
                "polyfill": true, // 兼容低版本浏览器不支持ES6语法
                "regenerator": true,
                "moduleName": "babel-runtime"
            }
        ]
    ]
}