

// 字体
$font-family-zh: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

// 透明背景 用于兼容在UIwebView下 点击空白处时 document.documentElement.addEventListener监听无效
.transparentBg{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -9;
}

.keyboard{
    *{
        -webkit-tap-highlight-color: rgba(255,0,0,0); // 取消手机端 点击时会出现边框
        user-select: none; // 禁止选中
        font-family: $font-family-zh;
        box-sizing: border-box; // 盒子模型
    }
}

// 键盘背景
.keyboardBg{
    position: fixed;
    left: 0;
    top: -100px;
    right: 0;
    bottom: -100px;
    z-index: 9990;
}

// 键盘按键
.keys{
    position: fixed;
    left: 50%;
    right: 0;
    bottom: 0;
    right: 0;
    height: 430px;
    width: 100%;
    max-width: 540PX;
    transform: translateX(-50%);
    background: #d1d5da;
    color: #000;
    z-index: 9999;
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: 0;
        height: 100%;
        background: #d1d5da;
        z-index: -1;
    }
}

// 默认键盘、[车牌前缀键盘、ABC键盘(字母+数组)]
.defaultKeyboard{
    margin-top: 5px;

    // 改变按钮被按下时的UI
    .keyActive{
        top: 1PX;
        box-shadow: 0 -1PX #909396;
    }
}

// 按键区块
.keyBox{
    float: left;
    overflow: hidden;
    min-width: 10%;
}
.keyBox15{
    min-width: 15%;
}

// 按键
.key{
    position: relative;
    margin: 10px auto;
    display: block;
    height: 85px;
    width: 65px;
    background: #fff;
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 85px;
    border-radius: 10px;
    box-shadow: 0 1PX #909396;
    cursor: pointer;
}

// 字面A键
.aBoxBox{
    margin-left: 5%;
}
.aBox{
    
}

// 特殊按键
.noneBtn,.abcBox,.delBtn,.backBtn,.switchBtn{
    background: #adb3bc;
    width: 102.5px;
    font-size: 36px;
}

// 删除键
.delBtn{
    background: #adb3bc url("./images/svg/del.svg") no-repeat center center;
    background-size: 48px;
}

// 改变按钮被按下时的UI
.keyActive{
    background: #c0c1c6;
}

// 删除按钮按下时的UI
.delBtn.keyActive{
    background: #c0c1c6 url("./images/svg/del-click.svg") no-repeat center center;
    background-size: 48px;
}

// 数字键盘
.numberKeyboard{
    width: 100%;
    height: 100%;
}
.numKeyBox{
    float: left;
    width: 33.33%;
    height: 25%;
    background: #fff;
    border-top: 1PX solid #d1d5da;
    border-right: 1PX solid #d1d5da;
}
.numKey{
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 107px;
    font-size: 60px;
    color: #1a1a1a;
}

// URL键盘
.switchBtn{
    background: #adb3bc url("./images/svg/switch.svg") no-repeat center center;
    background-size: 48px;
    padding-left: 12px;
    line-height: 70px;
}

// 显示键盘动画
.showKeys{
    animation: showKeyboard .3s;
}
// 隐藏键盘动画
.hideKeys{
    .keyboardBg{
        display: none;
    }
    .keys{
        animation: hideKeyboard .3s forwards;
    }
}

// 模拟的输入框
.input{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    color: inherit;
    font-size: inherit;
    overflow: hidden;
}

// 单个按键的内容
.keyValue{
    position: relative;
    float: left;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}
// 光标
.cursor{
    &::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1PX;
        background: #108ee9;
        animation: cursor 1s infinite linear;
    }
}
// 光标在左边显示
.leftCursor{
    &::after{
        right: auto;
        left: 0;
    }
}

// 动画
@keyframes showKeyboard{
    0%{
        bottom: -450px;
    }
    100%{
        bottom: 0;
    }
}
@keyframes hideKeyboard{
    0%{
        bottom: 0;
    }
    100%{
        bottom: -450px;
    }
}
@keyframes cursor{
    0%{
        background: #108ee9;
    }
    40%{
        background: #108ee9;
    }
    50%{
        background: transparent;
    }
    90%{
        background: transparent;
    }
    100%{
        background: #108ee9;
    }
}