

// 字体
$font-family-zh: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;

.hide{
    display: none;
}

.keyboard{
    *{
        -webkit-tap-highlight-color: rgba(255,0,0,0); // 取消手机端 点击时会出现边框
        user-select: none; // 禁止选中
        font-family: $font-family-zh;
    }
}

.bg{
    position: fixed;
    left: 0;
    top: -100px;
    right: 0;
    bottom: -100px;
    z-index: 9998;
}

.keys{
    position: fixed;
    left: 50%;
    right: 0;
    bottom: 0;
    padding-top: 10px;
    height: 430px;
    width: 750px;
    transform: translateX(-50%);
    background: #d1d5da;
    color: #000;
    z-index: 9999;
    
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: -100%;
        right: -100%;
        bottom: 0;
        height: 100%;
        background: #d1d5da;
        z-index: -1;
    }
}

// 显示键盘动画
.showKeys{
    animation: showKeyboard .3s;
}
// 隐藏键盘动画
.hideKeys{
    .bg{
        display: none;
    }
    .keys{
        animation: hideKeyboard .3s forwards;
    }
}

.keyItem{
    float: left;
    overflow: hidden;
}
.key{
    float: left;
    position: relative;
    margin: 10px 5px;
    height: 85px;
    width: 65px;
    background: #fff;
    font-size: 40px;
    color: #000;
    text-align: center;
    line-height: 85px;
    border-radius: 10px;
    box-shadow: 0 1PX #909396;
    cursor: pointer;
}
.key:active{
    top: 1PX;
    background: #c0c1c6;
    box-shadow: 0 -1PX #909396;
}
.aBox{
    margin-left: 40px;
}

.abcBox,.delBtn,.backBtn{
    background: #adb3bc;
    width: 102.5px;
    font-size: 36px;
}
.delBtn{
    margin-right: 0;
    background: #adb3bc url("./images/svg/del.svg") no-repeat center center;
    background-size: 48px;
}
.delBtn:active{
    background: #c0c1c6 url("./images/svg/del-click.svg") no-repeat center center;
    background-size: 48px;
}

.keyValueBox{
    margin: 0;
    padding: 0;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
    overflow: hidden;
}
.keyValueBoxCursor{
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 1PX;
        background: #108ee9;
        animation: cursor 1s infinite linear;
    }
}
// 单个按键的内容
.keyValueItem{
    position: relative;
    float: left;
    line-height: inherit;
    color: inherit;
    font-size: inherit;
}
// 光标
.cursor{
    &::after{
        content: '';
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1PX;
        background: #108ee9;
        animation: cursor 1s infinite linear;
    }
}
// 光标在左边显示
.leftCursor{
    &::after{
        right: auto;
        left: 0;
    }
}

// 动画
@keyframes showKeyboard{
    0%{
        bottom: -450px;
    }
    100%{
        bottom: 0;
    }
}

@keyframes hideKeyboard{
    0%{
        bottom: 0;
    }
    100%{
        bottom: -450px;
    }
}
@keyframes cursor{
    0%{
        background: #108ee9;
    }
    40%{
        background: #108ee9;
    }
    50%{
        background: transparent;
    }
    90%{
        background: transparent;
    }
    100%{
        background: #108ee9;
    }
}